<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voeg een nieuwe student toe</title>
</head>
<body>
  <h1>Nieuwe student toevoegen</h1>
  <form method="POST">
    <label>Studentnummer: <input name="student_number"></label><br>
    <label>Naam: <input name="name"></label><br>
    <label>Klas: <input name="class_name"></label><br>
    <button type="submit">Toevoegen</button>
  </form>
</body>
</html>