<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <h1>Welkom {{ docent.teacher_name }} op het adminpaneel.</h1>

    <table>
        <thead>
            <th>Naam</th>
            <th>Gebruikersnaam</th>
            <th>Admin?</th>
        </thead>
        <tbody>
            {% for d in docenten %}
            <tr>
                <td>{{ d.teacher_name }}</td>
                <td>{{ d.teacher_username }}</td>
                <td>{% if d.is_admin %}Ja{% else %}Nee {% endif %}</td>
                <td>
                    <form action="/admin/toggle_admin/{{ d.teacher_id }}" method="post">
<!--                        onchange="this.form.submit()"-->
                        <input type="checkbox" name="is_admin" {% if d.is_admin %} checked {% endif %} onchange="handleAdminToggle(this, {{ d.teacher_id }}, {{ docent.teacher_id }})">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <form action="/admin/add_teacher" method="post">
            <label>Naam: <input name="docent_name" type="text" id="docent_name" required></label>
            <label>Gebruikersnaam: <input name="docent_username" type="text" id="docent_user" required></label>
            <label>Wachtwoord: <input name="docent_pass" type="text" id = "docent_pass" required></label>
            <label>Admin: <input name="is_admin" type="checkbox" id = "is_admin"></label>
            <button type="submit">Toevoegen</button>
        </form>

    <!-- Wanneer adminrechten ontnomen worden: Check of de huidige gebruiker op het punt staat om zijn eigen rechten te ontnemen. Zo ja, geef een waarschuwing.-->
    <script>
        function handleAdminToggle(checkbox, targetId, currentUserId) {
            if (targetId === currentUserId) {
                const confirmChange = confirm("Weet je zeker dat je je eigen adminrechten wil verwijderen?");
                if (!confirmChange) {
                    checkbox.checked = true;
                    return;
                }
            }
            checkbox.form.submit();
        }
    </script>
</body>
</html>