<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>IT'S WORKING!!!11 ONE.</h1>

<h3>We're so back.</h3>

<h3> Welkom, {{ docent.teacher_name }}</h3>
<a href="{{ url_for('studenten_dashboard') }}">Studenten beheren</a>
<a href="{{ url_for('admin_dashboard') }}">Docenten beheren</a>
<a href="{{ url_for('teams_dashboard') }}">Teams beheren</a>
</body>
</html>