<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inloggen voor docenten</title>
</head>
<body>
    <main>
        <form action="/login" method="post">
            <label>Gebruikersnaam: <input name="docent_username" type="text" id="docent_user" required></label>
            <br>
            <label>Wachtwoord: <input name="docent_pass" type="text" id = "docent_pass" required></label>
            <button type="submit">Inloggen</button>
        </form>
    </main>
</body>
</html>