<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Inloggen voor docenten</title>
</head>
<body>
    <main>
        {% if request.args.get('error') == 'geen_toegang' %}
  <p style="color:red;">Je hebt geen toegang tot deze pagina.</p>
{% endif %}
        <form action="/login" method="post">
            <label>Gebruikersnaam: <input name="docent_username" type="text" id="docent_user" required></label>
            <label>Wachtwoord: <input name="docent_pass" type="text" id = "docent_pass" required></label>
            <button class="button" type="submit">Inloggen</button>
        </form>

        <a href="{{ url_for('vragenlijst') }}">Terug naar de test</a>
    </main>
</body>
</html>