<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/beheerpaginas.css') }}">
    <title>Studentenbeheer</title>
</head>
<body>
    <main>
        <h1>Welkom {{ docent.teacher_name }} op de studentenbeheer pagina.</h1>
        <h3>Nieuwe student toevoegen</h3>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/beheer/student/toevoegen" method="POST">
            <label>Studentnummer: <input type="text" name="student_number" required></label>
            <label>Naam: <input type="text" name="student_name" required></label>
            <label>Klas: <input type="text" name="student_class" required></label>
            <button type="submit">Toevoegen</button>
        </form>

        {% if request.args.get('error') == 'student_niet_gevonden' %}
            <p style="color: red;">De student die je probeert te verwijderen bestaat niet.</p>
        {% endif %}

        <h3>Filters toepassen</h3>
        <form method="get" action="{{ url_for('studenten_dashboard') }}">
            <label>Klas:
                <select name="class">
                    <option value="">-- alle klassen --</option>
                    {% for klas in klassen %}
                        <option value="{{ klas }}" {% if class_filter == klas %}selected{% endif %}>{{ klas }}</option>
                    {% endfor %}
                </select>
            </label>

            <label>Team:
                <select name="team">
                    <option value="">-- alle teams --</option>
                    {% for team in teams %}
                        <option value="{{ team.team_id }}" {% if team_filter == team.team_id|string %}selected{% endif %}>{{ team.team_name }}</option>
                    {% endfor %}
                </select>
            </label>

            <label>Heeft team:
                <select name="has_team">
                    <option value="">-- Alles --</option>
                    <option value="met" {% if has_team_filter == 'met' %}selected{% endif %}>Alleen met team</option>
                    <option value="zonder" {% if has_team_filter == 'zonder' %}selected{% endif %}>Alleen zonder team</option>
                </select>
            </label>

            <button type="submit">Filter(s) toepassen</button>
        </form>

        <h3>Lijst met studenten</h3>
        <table>
            <thead>
                <th>Naam</th>
                <th>Studentnummer</th>
                <th>Klas</th>
                <th>Actiontype</th>
                <th>Team</th>
                <th>Laatste datum</th>
                <th>Details en bewerken</th>
                <th>Verwijderen</th>
            </thead>
            <tbody>
                {% for s in studenten %}
                <tr>
                    <td>{{ s.student_name }}</td>
                    <td>{{ s.student_number }}</td>
                    <td>{{ s.student_class }}</td>
                    <td>{{ s.actiontype or "_" }}</td>
                    <td>{{ s.team.team_name or "_" }}</td>
                    <td>
                        {% if s.student_choices %}
                            {{ (s.student_choices | sort(attribute='updated_at') | last).updated_at | localtime }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('student_details', student_id=s.student_id) }}">
                            <button type="submit">Bekijken</button>
                        </form>
                    </td>
                    <td>
                    <!-- Knop om een student te verwijderen, inclusief een check om te bevestigen -->
                    <form action="/beheer/student/delete/{{ s.student_id }}" method="post" onsubmit="return confirm('Weet je zeker dat je deze student wil verwijderen?')">
                          <button type="submit" class="delete">Verwijderen</button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="back" href="{{ url_for('beheer_dashboard') }}">Terug naar de docenten homepage</a>
    </main>
</body>
</html>