<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Studentenbeheer</title>
</head>
<body>
    <main>
        <table>
            <thead>
                <th>Naam</th>
                <th>Studentnummer</th>
                <th>Klas</th>
                <th>Actiontype</th>
                <th>Laatste datum</th>
                <th>Verwijderen</th>
            </thead>
            <tbody>
                {% for s in studenten %}
                <tr>
                    <td>{{ s.student_name }}</td>
                    <td>{{ s.student_number }}</td>
                    <td>{{ s.student_class }}</td>
                    <td>{{ s.actiontype or "_" }}</td>
                    <td>-</td>
                    <td>
                    <!-- Knop om een student te verwijderen, inclusief een check om te bevestigen -->
                    <form action="/beheer/student/delete/{{ s.student_id }}" method="post" onsubmit="return confirm('Weet je zeker dat je deze student wil verwijderen?')">
                          <button type="submit">Verwijderen</button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>