<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vragenlijst</title>
</head>
<body>
    <main>
        <div class="content">
            <div id="student-info">
                <label>Studentnummer: <input type="text" id="student-number" /></label>
                <button onclick="startSurvey()">Start</button>
            </div>

            <div id="question-box" style="display:none;">
                <h2 id="question-number"></h2>
                <button id="choice1" onclick="submitAnswer(1)"></button>
                <button id="choice2" onclick="submitAnswer(2)"></button>
            </div>

            <div id="endscreen" style="display:none;">
                <h2>Bedankt! Je hebt alle stellingen ingevuld.</h2>
                <div id="result-box" style="display: none;">
                    <h3>Jouw MBTI-profiel is:</h3>
                    <p id="mbti-result"></p>
                    <p>Wil je de test opnieuw maken? Contacteer dan een beheerder.</p>
                </div>
            </div>
        </div>
    </main>

 <script>

        let studentNumber = null;
        // Haal het studentnummer uit het input veld en start de survey wanneer op de 'start' knop geklikt wordt
        function startSurvey() {
            studentNumber = document.getElementById("student-number").value;
            loadNextStatement();
        }
        // GET request naar flask. Zodra er een response is wordt een JavaScript object gemaakt van de JSON. ALs de response een 404 is wordt het eindscherm getoond, aangezien dit betekent dat er geen statements meer over zijn.
        function loadNextStatement() {
            fetch(`/api/student/${studentNumber}/statement`)
                .then(response => {
                    if (response.status === 404) {
                        document.getElementById("endscreen").style.display = "block";
                        document.getElementById("question-box").style.display = "none";
                        getResult();
                        return;
                    }
                    return response.json();
                })
                // Zodra de response omgezet is naar een JavaScript object, gebruik de data en voeg deze in de html.
                .then(data => {
                    if (!data) return;
                    // console.log(data);
                    document.getElementById("student-info").style.display = "none";
                    document.getElementById("question-box").style.display ="block";
                    document.getElementById("question-number").innerText = `Stelling ${data.statement_number}`;
                    document.getElementById("choice1").innerText = data.statement_choices[0].choice_text;
                    document.getElementById("choice2").innerText = data.statement_choices[1].choice_text;
                });
        }
        // Haal het nummer van de stelling uit de h2
        function submitAnswer(choiceNumber) {
            const statementNumber = document.getElementById("question-number").innerText.split(" ")[1];
              // Stuur de gemaakte keuze naar het bijbehorende statement en laad daarna het volgende statement
              fetch(`/api/student/${studentNumber}/statement/${statementNumber}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ choice_number: parseInt(choiceNumber) })
        })
                .then(res => res.json())
                .then(() => {
                    loadNextStatement();
            });
        }

        function getResult() {
            fetch(`/api/student/${studentNumber}/result`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("result-box").style.display = "block";
                    document.getElementById("mbti-result").innerText = `${data.mbti_result}`;
                });
        }
 </script>


</body>
</html>